body{
    margin: 0;
    padding: 0;
    background: url(../pictures/shape.jpg) no-repeat;
    background-position: 87% top;

}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 60px;
}

.header__avatar{
    border-radius: 50%;
}

.header__image{
    border-radius: 50%;
}

.header__list{
    list-style: none;
    display: flex;
    width: 862px;
    margin: 0;
    margin-right: 25px;
    padding: 0;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "Euclid";
}

.header__link{
    text-decoration: none;
    color: #000;
    position: relative;
    transition: 0.35s;
}

.header__link:hover{
    color: #565D66;
}

.header__link::before{
    content: '';
	position: absolute;
    bottom: -5px;
    right: 5%;
	width: 0;
	height: 1.5px;
	background-color: #565D66;
}
.header__link:hover:before{
    width: 90%;
}
.header__link::before{
    transition: width 0.35s;
}

.header__button{
    width: 150px;
    height: 70px;
    background-color: #000;
    border: none;
    border-radius: 15px 0 0 15px;
    color: #fff;
    font-family: "Euclid";
    font-size: 18px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.header__button:hover{
    color: #AFAFAF;   
}
.about{
    padding-top: 105px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 528px;
}

.tittle{
    font-size: 100px;
    font-family: "Euclid";
    font-style: italic;
    font-weight: 600;
    line-height: 126px;
    letter-spacing: 50px;
    width: 600px;
    height: 127px;
    margin: 0;
    padding: 0px;
    padding-left: 50px;
    text-align: center;
}

.subtittle{
    width: 520px;
    height: 180px;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    font-family: "Euclid";
    margin: 0;
}

.submit{
    width: 260px;
    height: 70px;
    background: #000;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Euclid";
    transition: 0.5s;
}
.submit:hover{
    color: #AFAFAF;   
    border-radius: 10px;
}
.achivements{
    display: flex;
    justify-content: end;
    padding-top: 200px;
}

.achivements__list{
    list-style: none;
    display: flex;
    width: 560px;
    height: 65px;
    padding: 0;
    padding-right: 30px;
    margin: 0;
    justify-content: space-between;
}

.achivements__item{
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: "Euclid";
    color: #565D66;
    line-height: 18px;
}

.bold{
    font-size: 32px;
    font-weight: 700;
    font-family: "Euclid";
    color: #000;
}

.side-bar{
    background: #000;
    width: 70px;
    height: 140px;
    position: absolute;
    left: 0;
    top: 744px;
    border-radius: 0 15px 15px 0;
}

.side-bar__line{
    width: 50px;
    height: 2px;
    background: #fff;
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 43%;
    left: 14%;
}
.side-bar__logo{
    border-radius: 50%;
}
.inst{
    background: url(../icons/insta.svg) no-repeat;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-position: center;
}
.pinterest{
    background: url(../icons/pinterest.svg) no-repeat;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-position: center;
}
.inst:hover{
    background: url(../icons/inst_hover.svg) no-repeat;
    background-position: center;
}

.pinterest:hover{
    background: url(../icons/pinterest_hover.svg) no-repeat;
    background-position: center;
}

.side-bar__item{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callback{
    width: 506px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 1s all;
}

.callback-active{
    opacity: 1;
    visibility: visible;
}

.overlay{
    width: 506px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 200%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px); 
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding-top: 136px;
    transition: 1s all;
}

.overlay-active{
    left: 0;
}

.overlay__tittle{
    width: 340px;
    height: 129px;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    font-family: "Euclid";
    margin: 0;
}

.gradient{
    background: linear-gradient(90deg, #9B5E5C, #C3CFE2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay__subtittle{
    width: 99%;
    height: 99px;
    font-size: 26px;
    font-weight: 600;
    font-family: "Euclid";
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

.overlay__number{
    width: 340px;
    height: 52px;
    background: #7D7D7D;
    border: none;
    margin-top: 50px;
    font-size: 26px;
    font-weight: 600;
    font-family: "Euclid";
    color: #000;
    text-align: center;
    background: linear-gradient(90deg, #E6E9F0 0%, #EEF1F5 100%);
}

.overlay__number::placeholder{
    font-size: 26px;
    font-weight: 600;
    font-family: "Euclid";
    color: #000;
    text-align: center;
}

.overlay__caption{
    width: 502px;
    height: 74px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Euclid";
    text-align: center;
    margin: 0;
    margin-top: 6px;
}

.overlay__terms{
    background: linear-gradient(90deg, #9B5E5C 0%, #C3CFE2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-color: #9B5E5C;
}

.overlay__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay__submit{
    width: 340px;
    height: 53px;
    background: linear-gradient(90deg, #CFD9DF 0%, #E2EBF0 100%);
    border: none;
    font-weight: 600;
    font-size: 26px;
    font-family: "Euclid";
    margin: 0px;
    margin-top: 50px;
    cursor: pointer;
    transition: 2s ease-in;
}
.overlay__submit:hover{
    background: linear-gradient(90deg, #BCC5CE 0%, #929EAD 98%);
}
.overlay__link{
    color: #fff;
    font-family: "Euclid";
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    margin-top: 9px;
}

.overlay__close-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    padding: 309px 0;
    left: 15px;
}

.overlay__close-icon{
    width: 15px;
    height: 25px;
}

.b-w-container{
    max-width: 1440px;
    margin-top: 170px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.designation{
    position: relative;
    background: url(../pictures/b-w_background.jpg) no-repeat;
    height: 346px;
    width: 1440px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.designation::before{
    content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}
.designation__text{
    position: relative;
    font-family: "Euclid";
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-right: 20px;
    color: #fff;
    letter-spacing: 20px;
}

.b-w__grid{
    width: 1240px;
    height: 475px;
    margin: 0 auto;
    margin-top: 105px;
    display: grid;
    grid-template-columns: 252px 252px 132px 252px 252px;
    grid-template-areas: 'a b c d e'
                         'f g g g h';
    column-gap: 25px;
    row-gap: 15px;
                         
}

.b-w__item{
    width: 252px;
    height: 230px;
}
.item1{
    background: url(../pictures/b&w/10-item.png);
    grid-area: a;
}
.item2{
    background: url(../pictures/b&w/5-item.jpg);
    grid-area: b;
}
.item3{
    display: grid;
    grid-template-columns: repeat(3, 40px);
    column-gap: 6px;
    width: 132px;
    height: 230px;
}

.b-w__sub-item{
    width: 40px;
    height: 230px;
}
.sub-item1{
    background: url(../pictures/b&w/8-item.jpg);
}
.sub-item2{
    background: url(../pictures/b&w/2-item.jpg);
}
.sub-item3{
    background: url(../pictures/b&w/1-item.jpg);
}

.item4{
    background: url(../pictures/b&w/6-item.jpg);
    grid-area: d;
}
.item5{
    background: url(../pictures/b&w/7-item.jpg);
    grid-area: e;
}
.item6{
    background: url(../pictures/b&w/3-item.jpg);
    grid-area: f;
}
.item7{
    background: url(../pictures/b&w/9-item.jpg);
    width: 686px;
    height: 230px;
    grid-area: g;
}
.item8{
    background: url(../pictures/b&w/4-item.jpg);
    grid-area: h;
}

.central-line{
    width: 55px;
    height: 2px;
    transform: rotate(90deg);
    background: black;
    margin-top: 55px;
}

.social-info{
    margin-top: 25px;
    font-size: 18px;
    font-family: "Euclid";
}

.social-info__text{
    font-weight: 100;
}
.social-info__link{
    font-weight: 300;
    font-style: italic;
    color: #000;
    text-decoration: none;
}

.landscape-container{
    max-width: 1440px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
}
.landscape-designation{
    background: url(../pictures/landcape_background.jpg);
    justify-content: center;
    align-items: center;
}

.landscape__grid{
    display: grid;
    grid-template-areas: 'a a a a'
                         'b b b b'
                         'c c c c'
                         'd e f j';
    column-gap: 20px;
    row-gap: 25px;
    margin-top: 100px;
}
.landscape__item1, .landscape__item2, .landscape__item3{
    width: 1240px;
    height: 230px;
}
.landscape__item4, .landscape__item5, .landscape__item6, .landscape__item7{
    width: 295px;
    height: 800px;
}

.landscape__item1{
    grid-area: a;
    background: url(../pictures/landscape/landscape_picture1.jpg);
}

.landscape__item2{
    grid-area: b;
    background: url(../pictures/landscape/landscape_picture2.jpg);
}

.landscape__item3{
    grid-area: c;
    background:url(../pictures/landscape/landscape_picture3.jpg);
}

.landscape__item4{
    grid-area: d;
    background: url(../pictures/landscape/landscape_picture4.jpg);
}

.landscape__item5{
    grid-area: e;
    background: url(../pictures/landscape/landscape_picture5.jpg);
}

.landscape__item6{
    grid-area: f;
    background: url(../pictures/landscape/landscape_picture6.jpg);
}
.landscape__item7{
    grid-area: j;
    background: url(../pictures/landscape/landscape_picture7.jpg);
}

.designation-content{
    height: 0;
    overflow: hidden;
    transition: 1s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.designation-content-active-1{
    height: 828px;
}
.designation-content-active-2{
    height: 1913px;
}
.designation-content-active-3{
    height: 2298px;
}

.portrait-container{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait-designation{
    display: flex;
    flex-direction: column;
    background: url(../pictures/portrait_background.jpg);
    max-width: 100%;
}
.portrait-designation::before{
    background: none;
}
.designation_top{
    width: 1200px;
    height: 173px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.designation_bottom{
    width: 1200px;
    height: 173px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.portrait-text{
    font-weight: 300;
    font-style: italic;
}

.portrait__grid{
    width: 1200px;
    display: grid;
    grid-template-columns: 550px 100px 550px;
    grid-template-rows: 650px 650px 650px;
    margin: 0 auto;
    margin-top: 100px;

}
.portrait__item1, .portrait__item4,.portrait__item5{
    width: 550px;
    height: 650px;
}
.portrait__item2, .portrait__item3, .portrait__item6{
    width: 650px;
    height: 650px;
}
.portrait__item1{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait__subitem {
    width: 250px;
    height: 600px;
}
.subitem2{
    display: flex;
    align-items: flex-end;
}
.portrait__item2{
    background: url(../pictures/portrait/portrait_item2.jpg);
    grid-row: 1/2;
    grid-column: 2/4;

}
.portrait__item3{
    background: url(../pictures/portrait/portrait_item3.jpg);
    grid-column: 1/3;

}
.portrait__item4{
    display: flex;
    justify-content: center;
    align-items: center;

}
.portrait__item5{
    display: flex;
    justify-content: center;
    align-items: center;

}
.portrait__item6{
    background: url(../pictures/portrait/portrait_item6.jpg);

}
.portrait__item7{
    background: url(../pictures/portrait/portrait_item7.jpg);
    width: 250px;
    height: 350px;
}
.portrait__item8{
    background: url(../pictures/portrait/portrait_item8.jpg);
    width: 250px;
    height: 350px;
}
.portrait__item9{
    background: url(../pictures/portrait/portrait_item9.jpg);
    width: 250px;
    height: 350px;
}
.portrait__item10{
    background: url(../pictures/portrait/portrait_item10.jpg);
    width: 250px;
    height: 350px;
    border-radius: 50%;
}


@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 100; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
    } 

@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-SemiBold-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 600; 
    } 

 @font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Light-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 300; 
    } 