body{
    margin: 0;
    padding: 0;

}

.container{
    max-width: 1220px;
    margin: 0 auto;
    background: url(../pictures/shape.jpg) no-repeat;
    background-position: 101% top;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 60px;
}

.header__avatar{
    border-radius: 50%;
}

.header__image{
    border-radius: 50%;
}

.header__list{
    list-style: none;
    display: flex;
    width: 862px;
    margin: 0;
    margin-right: 25px;
    padding: 0;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "Euclid";
}

.header__link{
    text-decoration: none;
    color: #000;
    position: relative;
    transition: 0.35s;
}

.header__link:hover{
    color: #AFAFAF;
}

.header__link::before{
    content: '';
	position: absolute;
    bottom: -5px;
    right: 5%;
	width: 0;
	height: 1.5px;
	background-color: #AFAFAF;
}
.header__link:hover:before{
    width: 90%;
}
.header__link::before{
    transition: width 0.35s;
}

.header__button{
    width: 150px;
    height: 70px;
    background-color: #000;
    border: none;
    color: #fff;
    font-family: "Euclid";
    font-size: 18px;
}

.about{
    padding-top: 105px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 528px;
}

.tittle{
    font-size: 100px;
    font-family: "Euclid";
    font-style: italic;
    font-weight: 600;
    line-height: 126px;
    letter-spacing: 50px;
    width: 600px;
    height: 127px;
    margin: 0;
    padding: 0px;
    padding-left: 50px;
    text-align: center;
}

.subtittle{
    width: 520px;
    height: 180px;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    font-family: "Euclid";
    margin: 0;
}

.submit{
    width: 260px;
    height: 70px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Euclid";
}

.achivements{
    display: flex;
    justify-content: end;
    padding-top: 200px;
}

.achivements__list{
    list-style: none;
    display: flex;
    width: 560px;
    height: 70px;
    padding: 0;
    padding-right: 30px;
    margin: 0;
    justify-content: space-between;
}

.achivements__item{
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: "Euclid";
    color: #565D66;
    line-height: 18px;
}

.bold{
    font-size: 32px;
    font-weight: 700;
    font-family: "Euclid";
    color: #000;
}

.side-bar{
    background: #000;
    width: 70px;
    height: 140px;
    position: absolute;
    left: 0;
    top: 744px;
}

.side-bar__line{
    width: 50px;
    height: 2px;
    background: #fff;
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 43%;
    left: 14%;
}

.side-bar__item{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 100; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
    } 
@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
    } 

@font-face {
    font-family: "Euclid"; 
    src: url("../fonts/Euclid-Circular-A-SemiBold-Italic.ttf") format("truetype"); 
    font-style: italic; 
    font-weight: 600; 
    } 
